body{
    color: white;
    background-color: #010114;
    font-size: large;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: 700;
}

#wrapper_cont{
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

#lyrics{
    font-size: larger;
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
}

#note{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#inter{
    font-size: large;
    font-style: italic;
    color: #c8cbcc;
}