body{
    color: white;
    background-color: #171923;
    font-size: large;
}

p {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 1px;
    max-width: 24in auto;
    text-align: center;
}

#romcom{
    font-size: xx-large;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: italic;
}
#italic2{
    font-size: xx-large;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: italic;
}

#note{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#entry1{
    font-size: large;
}

#ital1{

    font-style: italic;
}