body{
    color: white;
    background-color: #171923;
}

#romcom{
    font-size: xx-large;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: italic;
}
#italic2{
    font-size: xx-large;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: italic;
}